node_modules
.vscode
ejercicio_1/node_modules
ejercicio_2/node_modules
ejercicio_3/node_modules
ejercicio_4/node_modules
ejercicio_5/node_modules
.DS_Store
ejercicio_1/.DS_Store
ejercicio_2/.DS_Store
ejercicio_3/.DS_Store
